form {
  width: 100%;
  font-family: 'Abhaya Libre', Arial, Helvetica, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

table {
  width: 90%;
  margin: auto;
}
tr,
th {
  width: 100%;
}

th {
  height: 6rem;
  font-size: 1.8rem;
  text-align: start;
}

th > label {
  justify-content: start;
  color: #b4800a;
}

input {
  height: 3rem;
  font-size: 1.3rem;
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 15px;
}

h2 {
  text-align: center;
  color: #efd96f;
}

#botones {
  /* border: 1px solid red; */
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.when {
  font-family: 'Sevillana', Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  background-color: #efd96f;
  color: black;
  width: 12rem;
  height: 5rem;
  border-radius: 30px;
}

/*************************
 *  VERSION TABLET  *
*************************/
@media (min-width: 768px) {
  th {
    width: 6rem;
    text-align: center;
  }

  nav > a:nth-child(2) {
    color: #efd96f;
  }

  nav > a:nth-child(2):hover {
    color: black;
  }

  .when {
    width: 20rem;
    height: 6rem;
    font-size: large;
  }
}

/*************************
 *  VERSION PC  *
*************************/

@media (min-width: 960px) {
  tr,
  th {
    width: 50rem;
  }

  .when {
    font-size: 1.5rem;
  }
}
