/*************************
      VERSION MOVIL
**************************/

/** Esconde el carrousel **/
.carousel {
  display: none;
}

#Maintext > p {
  font-family: 'Abhaya Libre', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-align: start;
  margin: 1rem;
  color: #b4800a;
}

#Maintext > img {
  width: 90%;
  height: 20rem;
  margin: 1rem 1rem;
  border-radius: 15px;
}

/* Cookies */
#cookies {
  width: 90%;
  height: 5rem;
  margin: auto;
  background-color: #efd96f;
  text-align: end;
  border-radius: 10px;
  display: flex;
}

#cookies > p {
  background-color: transparent;
  color: black;
  text-align: center;
}

/*************************
 *  VERSION TABLET  *
*************************/
@media (min-width: 768px) {
  nav > a:first-child {
    color: #efd96f;
  }

  nav > a:first-child:hover {
    color: black;
  }

  /** Carrousel de imagenes **/
  .carousel {
    display: inline;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
  }

  .slides {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  .slides::-webkit-scrollbar {
    display: none;
  }

  .slides-item {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 600px;
    justify-content: center;
    margin: 0 1rem;
    position: relative;
    scroll-snap-align: start;
    transform: scale(1);
    transform-origin: center center;
    transition: transform 0.5s;
    width: 100%;
  }

  .carousel__nav {
    padding: 1.25rem 0.5rem;
  }

  .slider-nav {
    align-items: center;
    background-color: #ddd;
    border-radius: 50%;
    color: #000;
    display: inline-flex;
    height: 1.5rem;
    justify-content: center;
    padding: 0.5rem;
    position: relative;
    text-decoration: none;
    width: 1.5rem;
  }

  .slider-nav:hover,
  .slider-nav:active {
    color: #fff;
  }

  .carousel__skip-link {
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
  }

  .carousel__skip-link:focus {
    align-items: center;
    color: #fff;
    display: flex;
    height: 600px;
    justify-content: center;
    opacity: 0.8;
    width: 100%;
    z-index: 10;
  }

  .carousel__skip-message {
    padding: 0.5rem;
    width: 100%;
  }
  /** Fin de carrousel **/

  /** Edicion del cuerpo **/

  #Maintext {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
  }

  /*
  main > h1 {
    text-align: start;
    width: 90%;
    margin: auto;
    font-size: 5rem;
  }
  */

  #Maintext > p {
    width: 49%;
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  #Maintext > img {
    width: 40%;
    height: 18rem;
    transition: width 0.5s;
  }

  #Maintext > img:last-child {
    width: 70%;
    height: 100%;
    position: absoulte;
    margin: auto;
  }
}

@media (min-width: 960px) {
  div > img {
    height: 30rem;
  }

  #Maintext > img:last-child {
    height: 40%;
  }
}
