@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Inter&family=Sevillana&display=swap');

/*************************
      VERSION MOVIL
**************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  background-color: black;
  color: white;
}

:root {
  font-size: 15px;
}

html,
body {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

/** Esconde el nav **/
nav > a {
  display: none;
}

header > h1 {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #ffffff;
  margin-top: 2rem;
}

header > img {
  position: fixed;
  background-color: transparent;
  border-radius: 15px;
  top: 0.9rem;
  right: 0.9rem;
  height: 4rem;
  width: 4rem;
  rotate: 90deg;
  transition: rotate 0.2s;
}

#lenguaje {
  display: none;
}

main {
  text-align: center;
}

main > h1 {
  font-family: 'Sevillana', Arial, Helvetica, sans-serif;
  font-size: 4rem;
  color: #efd96f;
}

footer {
  width: 100%;
  margin: auto;
  display: flex;
  /* justify-content: space-around; */
  justify-content: space-between;
}

footer img {
  width: 4rem;
  height: 4rem;
}

footer img:nth-child(1) {
  border-radius: 100%;
}

.menu {
  position: fixed;
  display: none;
  top: 7rem;
  width: 90%;
  height: 50%;
  margin-left: 5%;
  border-radius: 15px;
  flex-direction: column;
}

.menu > a {
  font-size: 2rem;
  background-color: #b4800a;
  height: 25%;
  padding: 8%;
}

.menu > a:first-child {
  border-radius: 15px 15px 0 0;
}

.menu > a:last-child {
  border-radius: 0 0 15px 15px;
}

/*************************
 *  VERSION TABLET  *
*************************/
@media (min-width: 768px) {
  :root {
    font-size: 17px;
  }

  header > img {
    display: none;
  }

  header > h1 {
    display: none;
  }

  /** Barra de navegacion **/
  nav > a {
    display: inline;
    margin: 0 0.7rem;
    padding: 0.5rem;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
  }

  nav > a:hover {
    /* border: 1px solid yellow; */
    background-color: #efd96f;
    color: black;
  }

  #lenguaje {
    display: inline;
    width: 5rem;
    height: 5rem;
  }

  #lenguaje > img {
    width: 40%;
    height: 80%;
    display: inline-block;
  }

  #barra {
    width: 5%;
    height: 100%;
    background-color: white;
    display: inline-block;
  }

  header {
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    align-items: center;
  }

  main {
    position: relative;
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  main > h1 {
    text-align: center;
    width: 90%;
    margin: auto;
    font-size: 5rem;
  }

  footer {
    width: 80%;
    margin: 2rem auto;
    justify-content: space-around;
  }
}

@media (min-width: 960px) {
  :root {
    font-size: 20px;
  }
}
